[submodule "engine/include/JUCE"]
	path = engine/include/JUCE
	url = https://github.com/anthem-audio/juce-with-wasm-subset.git
[submodule "engine/include/reflect-cpp"]
	path = engine/include/reflect-cpp
	url = https://github.com/getml/reflect-cpp.git
[submodule "engine/include/brickworks"]
	path = engine/include/brickworks
	url = https://github.com/Orastron/brickworks.git
