name: Build Anthem

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - '**'

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        include:
          - os: windows-latest
            arch: x64
          - os: windows-11-arm
            arch: arm64
          - os: ubuntu-latest
            arch: x64
          - os: ubuntu-24.04-arm
            arch: arm64
          - os: macos-latest
            arch: arm64
          - os: macos-13
            arch: x64
          - os: ubuntu-latest
            arch: wasm

    steps:
      - name: Set up Emscripten
        if: matrix.arch == 'wasm'
        uses: mymindstorm/setup-emsdk@v14

      - name: Check out code
        uses: actions/checkout@v4
        with:
          submodules: recursive

      # --------------------------------------------------------------
      # Install dependencies (Linux only)
      # --------------------------------------------------------------
      - name: Install apt dependencies
        if: contains(matrix.os, 'ubuntu')
        run: |
          sudo apt update
          sudo apt install -y ninja-build llvm clang libx11-dev libxrandr-dev \
                             libxinerama-dev libxcursor-dev libfreetype-dev \
                             mesa-common-dev libasound2-dev freeglut3-dev \
                             libxcomposite-dev libgtk-3-dev libasound2-dev \
                             libwebkit2gtk-4.1-dev libcurl4-openssl-dev

      # --------------------------------------------------------------
      # Clone + set up Flutter (Windows)
      # --------------------------------------------------------------
      - name: Clone Flutter (Windows)
        if: contains(matrix.os, 'windows')
        run: |
          git clone --branch stable https://github.com/flutter/flutter.git $env:RUNNER_TEMP\flutter
          Add-Content $env:GITHUB_PATH "$env:RUNNER_TEMP\flutter\bin"

      # --------------------------------------------------------------
      # Clone + set up Flutter (Linux, macOS)
      # --------------------------------------------------------------
      - name: Clone Flutter (Linux, macOS)
        if: contains(matrix.os, 'ubuntu') || contains(matrix.os, 'macos')
        run: |
          git clone --branch stable https://github.com/flutter/flutter.git "$RUNNER_TEMP/flutter"
          echo "$RUNNER_TEMP/flutter/bin" >> $GITHUB_PATH

      # --------------------------------------------------------------
      # Flutter doctor
      # --------------------------------------------------------------
      - name: Install Flutter
        run: flutter doctor
      
      # --------------------------------------------------------------
      # Get dependencies
      # --------------------------------------------------------------
      - name: Get dependencies
        run: flutter pub get

      # --------------------------------------------------------------
      # Run code generation
      # --------------------------------------------------------------
      - name: Run code generation
        run: dart run anthem:cli codegen generate --explicit-format-for-ci

      # --------------------------------------------------------------
      # Check formatting
      # --------------------------------------------------------------
      - name: Format code
        run: dart format . --set-exit-if-changed -o none

      # --------------------------------------------------------------
      # Lint (Windows)
      # --------------------------------------------------------------
      - name: Lint code (Windows)
        if: contains(matrix.os, 'windows')
        run: |
          mkdir assets\engine
          dart analyze --fatal-infos
      
      # --------------------------------------------------------------
      # Lint (Linux, macOS)
      # --------------------------------------------------------------
      - name: Lint code (Linux, macOS)
        if: contains(matrix.os, 'ubuntu') || contains(matrix.os, 'macos')
        run: |
          mkdir -p assets/engine
          dart analyze --fatal-infos

      # --------------------------------------------------------------
      # Build engine (desktop)
      # --------------------------------------------------------------
      - name: Build engine (desktop)
        if: matrix.arch != 'wasm'
        run: dart run anthem:cli engine build --release

      - name: Build engine (WASM)
        if: matrix.arch == 'wasm'
        run: dart run anthem:cli engine build --release --wasm

      # --------------------------------------------------------------
      # Engine unit tests
      # --------------------------------------------------------------
      - name: Run engine unit tests
        if: matrix.arch != 'wasm'
        run: dart run anthem:cli engine unit-test

      # --------------------------------------------------------------
      # Flutter unit + integration tests
      # --------------------------------------------------------------
      - name: Run Flutter tests
        if: matrix.arch != 'wasm'
        run: flutter test .

      # --------------------------------------------------------------
      # Build Flutter (Windows)
      # --------------------------------------------------------------
      - name: Build Flutter (Windows)
        if: contains(matrix.os, 'windows')
        run: flutter build windows --verbose --release
        
      # --------------------------------------------------------------
      # Build Flutter (Linux)
      # --------------------------------------------------------------
      - name: Build Flutter (Linux)
        if: contains(matrix.os, 'ubuntu') && matrix.arch != 'wasm'
        run: flutter build linux --verbose --release
      
      # --------------------------------------------------------------
      # Build Flutter (macOS)
      # --------------------------------------------------------------
      - name: Build Flutter (macOS)
        if: contains(matrix.os, 'macos')
        run: flutter build macos --verbose --release

      # --------------------------------------------------------------
      # Build Flutter (WASM)
      # --------------------------------------------------------------
      - name: Build Flutter (WASM)
        if: matrix.arch == 'wasm'
        run: flutter build web --verbose --release --wasm

      # --------------------------------------------------------------
      # Upload artifacts (Windows)
      # --------------------------------------------------------------
      - name: Upload artifact (Windows)
        if: contains(matrix.os, 'windows')
        uses: actions/upload-artifact@v4
        with:
          name: anthem-windows-${{ matrix.arch }}
          path: ${{ github.workspace }}/${{ matrix.arch == 'x64' && 'build/windows/x64/runner/Release' || 'build/windows/arm64/runner/Release' }}

      # --------------------------------------------------------------
      # Upload artifacts (Linux)
      # --------------------------------------------------------------
      - name: Upload artifact (Linux)
        if: contains(matrix.os, 'ubuntu') && matrix.arch != 'wasm'
        uses: actions/upload-artifact@v4
        with:
          name: anthem-linux-${{ matrix.arch }}
          path: ${{ github.workspace }}/${{ matrix.arch == 'x64' && 'build/linux/x64/release/bundle' || 'build/linux/arm64/release/bundle' }}

      # --------------------------------------------------------------
      # Upload artifacts (macOS)
      # --------------------------------------------------------------
      - name: Upload artifact (macOS)
        if: contains(matrix.os, 'macos')
        uses: actions/upload-artifact@v4
        with:
          name: anthem-macos-${{ matrix.arch }}
          path: ${{ github.workspace }}/build/macos/Build/Products/Release/Anthem.app

      # --------------------------------------------------------------
      # Deploy web build
      # --------------------------------------------------------------
      - name: Deploy web build to CloudFlare Pages
        if: matrix.arch == 'wasm'
        run: |
          export CLOUDFLARE_API_TOKEN=${{ secrets.CLOUDFLARE_API_TOKEN }}
        
          npm i -g wrangler@latest
          wrangler pages deploy build/web --project-name=anthem-audio --branch=${{ github.ref_name }}
